root {
  font-family: Asap, Poppins, Source Sans Pro;
  display: flexbox;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-y: hidden; /* Hide vertical scrollbar */
  --primary: #249342;
  --secondary: #24f342;
  --white: #f1f1f1;
  --dark: #2b2b2b;
  --black: #1a1a1a;
  --color-primary: #249342;
  --color-primary-dark: #0aaf91;
  --color-seconday: #3d49b4;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 4px;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

.post,
.post-card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo-container {
  position: relative;
  display: block;
  float: left;
  top: -5px;
  margin: 5px;
  width: 65px;
  height: 65px;
  align-items: center;
}

.logo-container h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.product-card figure {
  text-align: center;
  padding: 5px;
}

.banner {
  margin: 150px 50px;
}

.columns.products {
  flex-wrap: wrap;
}

.card-footer-item i {
  margin-right: 10px;
}

.navbar-bottom.navbar {
  align-items: center;
}

.navbar-top.navbar {
  background-color: var(--primary);
}

.navbar-buttons {
  display: flex;
}

.navbar-top .container.navbar-container,
.navbar-bottom .container.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 15%;
  align-items: center;
}

.product-card .card-footer {
  justify-content: center;
}
.product-card .card-footer form {
  display: block;
  width: 100%;
}

.admin > div.container {
  margin: 40px 10%;
}

.admin .control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin table {
  width: 100%;
}

.admin table th:first-of-type {
  width: 50%;
}
.admin table td:first-of-type {
  width: 50%;
}

.admin table td {
  vertical-align: middle;
}

.product-card .card-footer button {
  border: none;
  width: 100%;
  height: 50px;
}

.product-card .card-footer button i {
  margin-right: 10px;
}


header {
  position: fixed;
  margin: 0;
  z-index: 2;
}

main {
  position: absolute;
  top: 60px;
  display: flexbox;
  flex-direction: column;
}

.navbar {
  position: fixed;
  height: 65px;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  background: linear-gradient(45deg, #298135 30%, #1b9c2d 40%, #298135 70%);
  color: #fff;
  box-shadow: 0 0 15px #1a1a1a;
  z-index: 2;
  font-weight: 500;
}

.nav-link {
  position: relative;
  display: flex;
  justify-content: center;
  left: 150px;
  margin: 10px 10px;
  color: #fff;
  transition: all .3s ease-in-out;
  border-radius: 10px;
  font-weight: 600;
  background-color: #298135;
  padding: 10px ;
  box-shadow: 0 0 5px #f1f1f1;
}

#login-container {
  position: fixed;
  display: block;
  left: 1000px;
  z-index: 3;
}

.nav-link:hover {
  transition: all .3s ease-in-out;
  background-color: #53ac5f;
  color: #fff;
}

.form-inline {
  position: relative;
  display: flex;
  padding: 0 10px;
  margin: 0 10px;
}

.form-inline input {
  position: relative;
  right: -50px;
  width: 250px;
}

.slider-container {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
  top: 50px;
  left: -50px;
  width: 1000px;
  margin: 0;
  height: 600px;
  max-width: 80rem;
  border-radius: 0.5rem;
  overflow: hidden;
  object-fit: fill;
  border-radius: 10px;
  box-shadow: 0 0 25px #1a1a1a;
  background-color: #fff;
  z-index: 1;
}
.slide {
  position: absolute;
  width: 1000px;
  height: 600px;
  display: flex;
  place-items: center;
  transition: all 0.9s ease-in-out;
  text-align: center;
  border-radius: 10px;
  z-index: 3;
}
.slide-img {
  height: 600px;
  border-radius: 10px;
  z-index: 3;
}
.slide h1 {
  font-size: 5rem;
}
.slide:nth-child(1) h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
iframe {
  position: relative;
  top: 10px;
  left: 245px;
  width: 70vw;
  height: 100vh;
  z-index: 3;
}

td {
  position: relative;
  top: 5px;
  left: 0%;
  padding: 5px 30px;
}

.container-fluid {
  position: relative;
  top: 50px;
  left: 350px;
}

.light {
  background-color: #c2c2c2;
}

#club-details {
  position: relative;
  top: -430px;
  left: 750px;
  width: 400px;
  margin: 40px 0 40px -20px;
  padding: 10px 0;
  font-size: 1.2rem;
  /* border: 1px solid #1a1a1a; */
}

#map-iframe {
  position: relative;
  top: -350px;
  left: -250px;
  width: 800px;
  height: 500px;
  margin: 20px 0;
}

#form-control {
  position: relative;
  top: -950px;
  left: 80%;
  width: 500px;
  height: 450px;
}

#form-control input,
#form-control textarea {
  width: 100%;
  margin: 10px 0;
}

#form-control label {
  width: 100%;
  background-color: #c2c2c2;
}

#form-control h2 {
  text-align: center;
  font-size: 2.3rem;
  margin: 20px 0;
}

#club-phone,
#club-address,
#club-postal {
  margin: 15px 0;
}

#executive-details {
  position: relative;
  left: -250px;
}

#albums {
  position: relative;
  top: -32px;
  left: -275px;
}

#notices {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  padding: 50px 0;
  top: 650px;
  left: -3%;
}

.hidden {
  visibility: hidden;
}

#popi-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 65px;
  height: 100vh;
  width: 220px;;
  background: linear-gradient(5deg, #298135 30%, #1b9c2d 40%, #298135 70%);
  color: #fff;
}

#popi-container ul {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  top: -30px;
  left: -150px;
  align-item: left;
  background-color: #298135;
}

#popi-container ul li i {
  font-size: 3rem;
  padding: 15px 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* background-color: linear-gradient(5deg, #298135 30%, #1b9c2d 40%, #298135 70%); */
  color: #fff;
}

#login-form {
  position: relative;
  display: grid;
  margin: 30%;
  width: 500px;
  height: 500px;
  justify-content: center;
}

#signup-form {
  position: relative;
  display: grid;
  margin: 30%;
  width: 500px;
  height: 500px;
  justify-content: center;
}

.form-container {
  position: absolute;
  display: grid;
  flex-direction: row;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 700px;
  margin: 100px 150px;
  padding: 100px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  border-radius: var(--border-radius);
  background: #f1f1f1;
  color: #1a1a1a;
}

.login-container,
.form__input,
.form__button {
  font: 500 1rem 'Asap', 'Poppins', sans-serif;
}

.form--hidden {
  display: none;
}

.form > *:first-child {
  margin-top: 0;
}

.form > *:last-child {
  margin-bottom: 0;
}

.form__title {
  margin-bottom: 2rem;
  text-align: center;
}

.form__message {
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success {
  color: var(--color-success);
}

.form__message--error {
  color: var(--color-error);
}

.form__input-group {
  margin-bottom: 1rem;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 2px solid #cccccc;
  outline: none;
  background: #eeeeee;
  transition: background .2s, border-color .2s;
}

.form__input:focus {
  border-color: var(--color-primary);
  background: #f1f1f1;
}

.form__input--error {
  color: var(--color-error);
  border-color: var(--color-error);
}

.form__input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-error);
}

.form__button {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: #f1f1f1;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.form__button:hover {
  background: var(--color-primary-dark);
}

.form__button:active {
  transform: scale(0.98);
}

.form__text {
  text-align: center;
}

.form__link {
  color: var(--color-primary-dark);
  text-decoration: none;
  cursor: pointer;
}

.form__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* For mobile phones */
@media only screen and (max-width: 480px) {
  .carousel {
    margin-left: auto;
    margin-right: auto;
  }
  img {
    width: 50%;
    height: 50%;
  }
}

/* For tablets */
@media only screen and (max-width: 768px) {
  .carousel {
    margin-left: auto;
    margin-right: auto;
  }
  img {
    position: relative;
    display: flexbox;
    flex-direction: row;
    width: 50%;
    height: 50%;
  }
}

/* For desktops */
@media only screen and (max-width: 992px) {
  .carousel {
    margin-left: auto;
    margin-right: auto;
  }
  img {
    position: relative;
    display: flexbox;
    flex-direction: row;
    width: 50%;
    height: 50%;
  }
}

/* For mobile phones */
@media only screen and (max-width: 480px) {
  .icon {
    font-size: 12px;
  }
  
  .nav-link {
    font-size: 12px;
  }
}

/* For tablets */
@media only screen and (max-width: 768px) {
  .icon {
    font-size: 16px;
  }
  
  .nav-link {
    font-size: 16px;
  }
}

/* For desktops */
@media only screen and (max-width: 992px) {
  .icon {
    font-size: 20px;
  }
  
  .nav-link {
    font-size: 20px;
  }
}

.columns,
.column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-center;
  margin-left: 100px;
}